* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #ecf0f1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffbba6;
  z-index: 10;
  transition: 0.5s ease;
}

#preloader {
  opacity: 1;
  display: flex;
}

.cards {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  height: 37rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0.15rem 0.15rem 0.25rem 0.25rem rgba(4,4,4,0.25);
  padding: 1rem;
  background-color: #ecf0f1;
}

.card-img {
  margin-top: -0.75rem;
  width: 17rem;
  height: 21.5rem;
  border-radius: 10px;
  object-fit: cover;
}

.card-title  {
  color: #2c3e50;
  margin-top: 0.75rem;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.25rem;
}

.card-score {
  margin-top: 0.5rem;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.25rem;
}

.card-type {
  color: rgb(32,31,31);
  margin-top: 0.5rem;
  font-family: "Dosis";
  font-size: 1rem;
  font-weight: 0;
}

.card-tag {
  margin-top: 0.5rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  line-height: 25px;
  display: flex;
  flex-flow: row wrap;
}

.tag {
  color: rgb(32,31,31);
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0.25rem;
  background-color: #ffbba6;
}

.btn_details {
  text-align: center;
  border-radius: 0.5rem;
  background-color: #e74c3c;
  transition: 0.5s ease;
  color: white;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.btn_details:hover {
  background-color: #9e2c20;
  text-decoration: none;
  color: white;
}

.btn_area {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.tooltip {
  cursor: pointer;
  position: fixed;
  top: 90vh;
  left: 93vw;
  z-index: 3;
  transition: 0.5s ease;
}

.tooltip:hover {
  transform: rotate(360deg);
}

#close_modal {
  cursor: pointer;
  display: none;
  position: fixed;
  color: #e74c3c;
  top: 3vh;
  left: 90vw;
  font-size: 5rem;
  font-weight: bold;
  z-index: 6;
}

.modal_bg {
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(4,4,4,0.5);
  z-index: 4;
  justify-content: center;
  align-items: center;
}

#tooltipModal {
  display: none;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: #ecf0f1;
  width: 40vw;
  height: 70vh;
}

.modal_title {
  margin-top: 2rem;
  font-family: "Dosis";
  font-size: 2rem;
  color: #2c3e50;
}

.action-btn {
  align-items: center;
  flex-direction: column;
}

#actionBtn {
  display: flex;
}

.create_game {
  margin-top: 5rem;
  cursor: pointer;
  color: #ecf0f1;
  background-color: #27ae60;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.create_game:hover {
  background-color: #28834e;
}

#createForm {
  display: none;
}

.create_form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create_details {
  margin-top: 1rem;
  display: grid;
  width: 30vw;
  grid-template-columns: 30% 70%;
  color: #2c3e50;
}

.textLabel {
  padding: 0.5rem;
  font-family: "Roboto";
  font-size: 1rem;
}

.textField {
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #28834e;
}

.textField:focus {
  border-color: #2ecc71;
}

.textArea {
  font-family: "Roboto";
  font-size: 1rem;
  width: 16rem;
  height: 15rem;
  max-width: 16rem;
  max-height: 15rem;
  overflow-y: auto;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.submit {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1rem;
  color: #ecf0f1;
  background-color: #27ae60;
  transition: ease 0.5s;
}

.submit:hover {
  background-color: #308051;
  transform: scale(1.2);
}


@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

#slider {
	overflow: hidden;
	z-index: -2;
}

#slider figure img {
	width: 20%; 
	height: 80vh;
	float: left;
	z-index: -2;
	object-fit: cover;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slidy infinite; 
	z-index: -2;
}

.logo {
  position: fixed;
  top: 3vh;
  left: 2vw;
  width: 9rem;
}

.red { color: #e74c3c; }
.pink { color: #c44f6a; }
.blue { color: #00a4ff; }