* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #ecf0f1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffbba6;
  z-index: 10;
  transition: 0.5s ease;
}

#preloader {
  opacity: 1;
  display: flex;
}

.cards {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  height: 37rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0.15rem 0.15rem 0.25rem 0.25rem rgba(4,4,4,0.25);
  padding: 1rem;
  background-color: #ecf0f1;
}

.card-img {
  margin-top: -1rem;
  width: 17rem;
  height: 21.5rem;
  border-radius: 10px;
  object-fit: cover;
}

.card-title  {
  margin-top: 0.75rem;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.25rem;
}

.card-score {
  margin-top: 0.5rem;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.25rem;
}

.card-type {
  margin-top: 0.5rem;
  font-family: "Dosis";
  font-size: 1rem;
  font-weight: 0;
}

.card-tag {
  margin-top: 0.5rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  line-height: 25px;
  display: flex;
  flex-flow: row wrap;
}

.tag {
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0.25rem;
  background-color: #ffbba6;
}

.btn_details {
  text-align: center;
  border-radius: 0.5rem;
  background-color: #e74c3c;
  transition: 0.5s ease;
  color: white;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.btn_details:hover {
  background-color: #9e2c20;
  text-decoration: none;
  color: white;
}

.btn_area {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 10;
  left: 80;
  z-index: 5;
}

.red { color: #e74c3c; }
.pink { color: #c44f6a; }
.blue { color: #00a4ff }